
@using SisCur.Models



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sistema Matricula</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top bg-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    @{
                        int cantidad = VariableModel.accriones.Count();
                        for (int i = 0; i < cantidad; i++)
                        {
                            @Html.ActionLink(VariableModel.mensjae[i], VariableModel.accriones[i], VariableModel.controladores[i], new { area = "" }, new { @class = "navbar-brand" })
                        }
                    }



                    @*@Html.ActionLink("Curso", "Index", "Curso", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Periodo", "Index", "Periodo", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Alumnos", "Index", "Alumno", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Docentes", "Index", "Docente", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Asignar Grado y Sección", "Index", "GradoSeccion", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Asignar Curso a los Grados", "Index", "PeriodoGradoCurso", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Asignar Curso a Docente", "Index", "GradoSeccionAula", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Matricular", "Index", "Matricula", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Rol/Pagina", "Index", "RolPagina", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "navbar-brand" })*@
                    @Html.ActionLink("Cerrar", "Cerrar", "Login", new { area = "" }, new { @class = "navbar-brand" })

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

</body>
</html>